@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,700;0,800;1,400;1,700;1,800&display=swap');

::-moz-selection {
     background: #efeff4;
}

::selection {
     background: #efeff4;
}

.theme-toggle-container {
     display: none;
}

h1 {
     font-size: 2.25rem;
     font-weight: 800;
     margin-bottom: 1.75rem;
}

h2 {
     font-size: 1.80rem;
     font-weight: 800;
     margin-bottom: 0.5rem;
     margin-top: 1.8rem;
     scroll-margin-top: 0.5rem;
     padding-bottom: 0.3rem;
     /* border-bottom: 1px solid #ced4da; */
}

h3 {
     font-size: 1.4rem;
     font-weight: 800;
     margin-bottom: 0.6rem;
     margin-top: 1.25rem;
     scroll-margin-top: 0.5rem;
}

h4 {
     font-size: 1.15rem;
     font-weight: 800;
     margin-bottom: 0.6rem;
     scroll-margin-top: 0.5rem;
}

table {
     font-size: 0.9rem;
     white-space: nowrap;
}

ul li {
     padding: 0.01rem;
}